<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcl.gycms.mapper.MsgMapper" >
  <resultMap id="BaseResultMap" type="com.jcl.gycms.entity.Msg" >
    <id column="id" property="id" jdbcType="NUMERIC" />
    <result column="titel" property="titel" jdbcType="VARCHAR" />
    <result column="sendPeople" property="sendpeople" jdbcType="VARCHAR" />
    <result column="sendTime" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="stateCode" property="statecode" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
  </resultMap>  
</mapper>